body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #f1f1f1;
}

input, textarea {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    font-family: 'Roboto';
}

input::placeholder, textarea::placeholder {
    font-style: italic;
}
